@import '../../../shared/styles/lib';

.input {
	&__label {
		color: $graphit;
	}
	&__item {
		width: 100%;
		border: 1px solid $white;
		outline: none;
		box-shadow: none;

		font-family: inherit;
		color: $graphit;
		background-color: $white;

		transition: background 0.1s cubic-bezier(0.4, 0, 0, 1), border-color 0.1s cubic-bezier(0.4, 0, 0, 1);

		&::placeholder {
			color: $grey;
		}
		&:hover {
			border-color: $grey;
			background-color: #ffffff;
		}
		&:focus {
			border-color: $celestial;
			background-color: #ffffff;
		}
	}
	&-required .input__label:after {
		content: '*';
		position: relative;
		color: $candy;
	}
}

.form-invalid .input__item {
	&:invalid {
		border-color: $candy;
	}
}

@media (min-width: $desktopStart) {
	.input {
		&__item {
			margin-top: vw(5px);
			padding: vw(13px) vw(11px) vw(12px);
			border-radius: vw(14px);
			font-size: vw(14px);
		}
		&-required .input__label:after {
			top: vw(-2px);
			right: vw(-4px);
		}
	}
}

@media (max-width: $mobileEnd) {
	.input {
		&__item {
			margin-top: vw(5px, $mvw);
			padding: vw(13px, $mvw) vw(11px, $mvw) vw(12px, $mvw);
			border-radius: vw(14px, $mvw);
			font-size: vw(14px, $mvw);
		}
		&-required .input__label:after {
			top: vw(-2px, $mvw);
			right: vw(-4px, $mvw);
		}
	}
}
