@import '../../shared/styles/lib';

.successModal__button {
	width: 100%;
}

@media (min-width: $desktopStart) {
	.successModal {
		&__title {
			padding-right: vw(30px);
		}
		&__description {
			margin-top: vw(12px);
		}
		&__button {
			margin-top: vw(30px);
		}
	}
}

@media (max-width: $mobileEnd) {
	.successModal {
		&__title {
			padding-right: vw(30px, $mvw);
		}
		&__description {
			margin-top: vw(12px, $mvw);
		}
		&__button {
			margin-top: vw(30px, $mvw);
		}
	}
}
