@import '../../shared/styles/lib';

.modal {
	max-height: 100vh;
	width: vw(450px);
	max-width: 100%;
	padding: vw(30px);
	border-radius: vw(22px);

	display: flex;
	flex-direction: column;

	position: relative;

	overflow: auto;
	background-color: #ffffff;
	visibility: hidden;
	transition: visibility 0s 0.3s cubic-bezier(0.4, 0, 0, 1);

	& .modal__closeButton {
		padding: 10px;
		border: none;
		outline: none;

		display: flex;
		justify-content: center;
		align-items: center;

		position: absolute;
		top: vw(23px);
		right: vw(23px);

		background-color: transparent;
		cursor: pointer;

		& svg {
			width: vw(15px);
			height: vw(15px);
		}

		& path {
			fill: $graphit;
		}

		&:hover path {
			fill: $candy;
		}
	}
}

.backdrop-opened .modal {
	transition: visibility 0s cubic-bezier(0.4, 0, 0, 1);
	visibility: visible;
}
