@import '../../../shared/styles/lib';

.input {
	position: relative;

	&-file {
		& .input__item {
			width: 0;
			height: 0;
			padding: 0;
			opacity: 0;

			&-fake {
				width: 100%;
				height: auto;
				display: block;
				opacity: 1;
			}

			& .input__placeholder {
				color: $grey;
			}

			&:focus + .input__item-fake {
				border: 1px solid $graphit;
			}
			&:disabled + .input__item-fake {
				color: $graphit;
				background-color: $white;
				border-color: $white;
				opacity: 0.7;

				& + .input__paperClip {
					opacity: 0.7;
				}
			}
		}
	}

	&-empty .input__paperClip path {
		fill: $grey;
	}

	&__paperClip {
		position: absolute;
		pointer-events: none;

		& path {
			fill: $graphit;
		}
	}
}

@media (min-width: $desktopStart) {
	.input {
		&-file .input__item-fake {
			padding: vw(13px) vw(11px) vw(12px) vw(36px);
		}
		&__paperClip {
			width: vw(17px);
			height: vw(20px);
			left: vw(13px);
			bottom: vw(13px);
		}
	}
}

@media (max-width: $mobileEnd) {
	.input {
		&-file .input__item-fake {
			padding: vw(13px, $mvw) vw(11px, $mvw) vw(12px, $mvw) vw(36px, $mvw);
		}
		&__paperClip {
			width: vw(17px, $mvw);
			height: vw(20px, $mvw);
			left: vw(13px, $mvw);
			bottom: vw(13px, $mvw);
		}
	}
}
