@import '../../shared/styles/lib';

.secondaryButton {
	border: 1px solid $white;

	display: flex;
	align-items: center;

	color: $dark;
	background-color: $white;
	outline-offset: 1px;

	transition: background 0.1s cubic-bezier(0.4, 0, 0, 1), color 0.1s cubic-bezier(0.4, 0, 0, 1),
		border-color 0.1s cubic-bezier(0.4, 0, 0, 1);

	& path {
		fill: $coal;
		transition: fill 0.1s cubic-bezier(0.4, 0, 0, 1);
	}

	&:hover {
		cursor: pointer;
		background-color: $blue;
		border-color: $blue;
		color: $white;

		& path {
			fill: $white;
		}
	}

	&:active {
		color: $white;
		border-color: $celestial;
		background-color: $celestial;

		& path {
			fill: $white;
		}
	}

	&:focus-visible {
		border: 1px solid $dark;
		outline: 1px solid $white;
	}
}

@media (min-width: $desktopStart) {
	.secondaryButton {
		padding: vw(7px) vw(12px);
		border-radius: vw(8px);
		gap: vw(6px);

		&__icon {
			width: vw(20px);
			height: vw(20px);
		}
	}
}

@media (max-width: $mobileEnd) {
	.secondaryButton {
		height: vw(30px, $mvw);
		padding: vw(0px, $mvw) vw(12px, $mvw);
		border-radius: vw(8px, $mvw);
		gap: vw(6px, $mvw);

		&__icon {
			width: vw(20px, $mvw);
			height: vw(20px, $mvw);
		}
	}
}
