@import '../../shared/styles/lib';

.button {
	border: 1px solid $blue;
	outline: none;

	color: $white;
	background-color: $blue;

	cursor: pointer;
	transition: color 0.1s cubic-bezier(0.4, 0, 0, 1), background-color 0.1s cubic-bezier(0.4, 0, 0, 1),
		opacity 0.1s cubic-bezier(0.4, 0, 0, 1);

	&:hover {
		border-color: #115ea3;
		background-color: #115ea3;
	}
	&:active {
		border-color: #0c3b5e;
		background-color: #0c3b5e;
	}
	&:focus-visible {
		border: 1px solid $white;
		outline: 2px solid $dark;
	}

	&-unfilled {
		color: $graphit;
		border-color: #d1d1d1;
		background-color: #ffffff;

		&.button-active {
			border-color: #0f6cbd;
		}

		&:hover {
			border-color: $blue;
			color: $white;
			background-color: $blue;
		}

		&:active {
			border-color: $celestial;
			background-color: $celestial;
		}

		&:focus-visible {
			border: 1px solid $white;
			outline: 1px solid $dark;
		}
	}
}

@media (min-width: $desktopStart) {
	.button {
		padding: vw(15px) vw(28px) vw(16px);
		border-radius: vw(14px);
	}
}

@media (max-width: $mobileEnd) {
	.button {
		padding: vw(15px, $mvw) vw(26px, $mvw) vw(16px, $mvw);
		border-radius: vw(14px, $mvw);
	}
}
