@import '../../../shared/styles/lib';

.input {
	position: relative;

	&__item {
		appearance: none;

		&:focus + .input__arrowDown {
			transform: rotate(180deg);
		}
	}

	&__arrowDown {
		width: vw(12px);
		height: vw(6px);

		position: absolute;
		bottom: vw(20px);
		right: vw(16px);

		pointer-events: none;
		transition: transform 0.2s cubic-bezier(0.4, 0, 0, 1);

		& path {
			fill: $graphit;
		}
	}

	&-empty {
		& .input__item {
			color: $grey;
			&:focus {
				color: $graphit;
				& + .input__arrowDown path {
					fill: $graphit;
				}
			}
		}
		& .input__arrowDown path {
			fill: $grey;
		}
	}
}
