@import '../../../shared/styles/lib';

.input {
	position: relative;

	&__item {
		appearance: none;

		&:focus + .input__arrowDown {
			transform: rotate(180deg);
		}
		&:disabled {
			color: $graphit !important;

			& + .input__arrowDown {
				opacity: 0.7;
			}
		}
	}

	&__arrowDown {
		position: absolute;
		pointer-events: none;
		transition: transform 0.2s cubic-bezier(0.4, 0, 0, 1);

		& path {
			fill: $graphit;
		}
	}

	&-empty {
		& .input__item {
			color: $grey;
			&:focus {
				color: $graphit;
				& + .input__arrowDown path {
					fill: $graphit;
				}
			}
		}
		& .input__arrowDown path {
			fill: $grey;
		}
	}
}

@media (min-width: $desktopStart) {
	.input__arrowDown {
		width: vw(12px);
		height: vw(6px);

		bottom: vw(20px);
		right: vw(16px);
	}
}

@media (max-width: $mobileEnd) {
	.input__arrowDown {
		width: vw(12px, $mvw);
		height: vw(6px, $mvw);

		bottom: vw(20px, $mvw);
		right: vw(16px, $mvw);
	}
}
