@import '../../shared/styles/lib';

.flexibleApproach {
	background-color: #ffffff;

	&__photoWrapper {
		border-radius: 50%;
		display: flex;
		align-items: flex-end;
		position: relative;
		z-index: 1;

		background: rgb(0, 158, 255);
		background: radial-gradient(
			circle at center center,
			#009eff,
			#009eff 41%,
			#2daefd 41%,
			#2daefd 51%,
			#5abefa 51%,
			#5abefa 61%,
			#78c8f8 61%,
			#78c8f8 70%
		);
	}

	&__content {
		flex: 1;
		color: $white;
		background-color: $celestial;
	}

	&__title {
		text-transform: uppercase;
	}

	&__features {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		& li {
			display: flex;
		}

		& path {
			fill: $celestial;
		}
	}

	&__iconWrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $white;
	}
}

@media (min-width: $desktopStart) {
	.flexibleApproach {
		display: flex;
		align-items: center;
		padding: vw(42px) vw(30px) vw(94px);

		&__photoWrapper {
			width: vw(500px);
			height: vw(500px);
			padding: vw(70px);
		}

		&__photo {
			width: vw(360px);
		}

		&__content {
			margin-left: vw(-88px);
			padding: vw(60px) vw(140px);
			border-radius: 0 vw(34px) vw(34px) 0;
		}

		&__description {
			width: vw(410px);
			margin-top: vw(20px);
		}

		&__features {
			margin-top: vw(25px);
			gap: vw(20px);

			& li {
				gap: vw(12px);
			}
		}

		&__iconWrapper {
			width: vw(56px);
			height: vw(26px);
			border-radius: vw(28px);
		}
	}
}

@media (max-width: $mobileEnd) {
	.flexibleApproach {
		padding-top: vw(16px, $mvw);
		overflow-x: hidden;

		&__photoWrapper {
			width: calc(100% - vw(32px, $mvw));
			margin-right: vw(16px, $mvw);
			margin-left: vw(16px, $mvw);
			padding-top: calc(100% - vw(32px, $mvw));

			position: relative;

			& > div {
				width: calc(100% - vw(92px, $mvw));

				position: absolute;
				left: calc(13%);
				right: calc(13%);
				bottom: calc(14%);
			}
		}

		&__photo {
			width: 100%;
			height: 100%;
		}

		&__content {
			margin-top: calc(-100% + vw(16px, $mvw));
			padding: calc(100% - vw(16px, $mvw) + vw(30px, $mvw)) vw(16px, $mvw) vw(64px, $mvw);
			border-radius: vw(400px, $mvw) vw(400px, $mvw) 0 0;
			background-color: $celestial;
		}

		&__description {
			margin-top: vw(20px, $mvw);
		}

		&__features {
			margin-top: vw(20px, $mvw);
			gap: vw(12px, $mvw);

			& li {
				align-items: flex-start;
				gap: vw(10px, $mvw);
			}

			& p {
				font-size: vw(16px, 395px);
			}
		}

		&__iconWrapper {
			width: vw(11px, $mvw);
			height: vw(5px, $mvw);
			margin-top: vw(8px, $mvw);
			margin-left: vw(2px, $mvw);
			border-radius: vw(10px, $mvw);

			& svg {
				display: none;
			}
		}
	}
}
