// Colors
$white: #f1f1f1;
$light_grey: #e0e0e0;
$grey: #878787;
$coal: #313131;
$graphit: #2e2e2e;
$dark: #272727;
$celestial: #009eff;
$blue: #0f6cbd;
$candy: #fb2c18;
$midnight: #22217c;

// Sizes
$header_height: 52px;
$desktopViewportWidth: 1440px;
$mvw: 385px;

// Functions
@function vw($px, $vw: $desktopViewportWidth) {
	@return calc($px * 100 * 1vw / $vw);
}

// Breakpoints
$mobileEnd: 768px;
$desktopStart: 769px;
