@import './lib';
@import './fonts.scss';
@import './text.scss';

*,
input,
button,
textarea {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: 'Inter', Arial, Helvetica, sans-serif;
	color: $graphit;
	background-color: $white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
menu {
	margin: 0;
}

ul {
	padding: 0;
	list-style: none;
}

menu {
	padding: 0;
}

nav {
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

input,
button {
	font-family: inherit;
	font-size: inherit;
}

.underline:hover {
	text-decoration: underline;
}

.outline {
	position: relative;
	outline: none;

	&::before,
	&::after {
		content: '';
		outline: 1px solid $white;
		opacity: 0;

		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
	&::before {
		outline-color: $white;
		outline-offset: 2px;
	}
	&::after {
		outline-color: $dark;
		outline-offset: 1px;
	}
	&:focus {
		&::before,
		&::after {
			opacity: 1;
		}
	}
	&:active {
		&::before,
		&::after {
			opacity: 0;
		}
	}
}

.focus-visible-outline {
	&:focus-visible {
		position: relative;
		outline: none;

		&::before,
		&::after {
			content: '';
			outline: 1px solid $white;
			opacity: 0;

			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}
		&::before {
			outline-color: $white;
			outline-offset: 2px;
		}
		&::after {
			outline-color: $dark;
			outline-offset: 1px;
		}
		&:focus {
			&::before,
			&::after {
				opacity: 1;
			}
		}
		&:active {
			&::before,
			&::after {
				opacity: 0;
			}
		}
	}
}

.section-link {
	scroll-margin-top: vw(110px);
	cursor: text;
	user-select: text;
}

.app {
	&__header {
		width: auto;

		position: fixed;
		top: vw(20px);
		left: vw(30px);
		right: vw(30px);
		z-index: 5;
	}
}

#index {
	padding-top: vw($header_height + 20px);
}

.index {
	&__aboutUs {
		margin-top: vw(60px);
	}
	&__ourTeam {
		margin-top: vw(-34px);
	}
	&__ourReviews {
		margin-top: vw(-34px);
	}
	&__contacts {
		margin-top: vw(-34px);
	}
}

#policy {
	padding-left: vw(30px);
	padding-top: vw(100px);
	padding-bottom: vw(60px);

	display: flex;
	flex-direction: column;
	gap: vw(20px);

	& p {
		width: vw(600px);
	}
}

::selection {
	color: $white;
	background-color: $midnight;
}
