@import './lib';

.index {
	padding-top: vw($header_height + 20px);

	&__aboutUs {
		margin-top: vw(60px);
	}
	&__ourTeam {
		margin-top: vw(-34px);
	}
	&__ourReviews {
		margin-top: vw(-34px);
	}
	&__contacts {
		margin-top: vw(-34px);
	}
}
