.heading-xl {
	font-size: vw(64px);
	font-weight: 700;
	line-height: 1.2;
}

.heading-l {
	font-size: vw(38px);
	font-weight: 700;
	line-height: 1.2;
}

.heading-m {
	font-size: vw(32px);
	font-weight: 700;
	line-height: 1.2;
}

.heading-s {
	font-size: vw(24px);
	font-weight: 700;
	line-height: 1.2;
}

.text-xl {
	font-size: vw(20px);
	font-weight: 400;
	line-height: 1.4;
}

.text-l {
	font-size: vw(18px);
	font-weight: 400;
	line-height: 1.4;
}

.text-m {
	font-size: vw(16px);
	font-weight: 400;
	line-height: 1.4;
}

.text-s {
	font-size: vw(14px);
	font-weight: 400;
	line-height: 1.4;
}

.accent-xl {
	font-size: vw(24px);
	font-weight: 500;
	line-height: 1.2;
}

.accent-l {
	font-size: vw(20px);
	font-weight: 500;
	line-height: 1.2;
}

.accent-m {
	font-size: vw(16px);
	font-weight: 500;
	line-height: 1.2;
}

.accent-s {
	font-size: vw(14px);
	font-weight: 500;
	line-height: 1.2;
}
