@import '../../shared/styles/lib';

.ourReviews {
	background-color: #ffffff;

	&__title {
		display: inline-block;
		color: $grey;
		text-transform: uppercase;
	}

	&__list {
		display: flex;

		&-half {
			flex: 1;
			display: flex;
			flex-direction: column;
		}
	}
}

@media (min-width: $desktopStart) {
	.ourReviews {
		padding: vw(60px) vw(30px);
		border-radius: vw(34px) vw(34px) 0 0;

		&__list {
			margin-top: vw(30px);
			gap: vw(20px);

			&-half {
				gap: vw(20px);
			}
		}
	}
}

@media (max-width: $mobileEnd) {
	.ourReviews {
		padding: vw(30px, $mvw) vw(16px, $mvw);
		border-radius: vw(34px, $mvw) vw(34px, $mvw) 0 0;
		position: relative;

		&__list {
			margin-top: vw(20px, $mvw);
			flex-direction: column;
			gap: vw(20px, $mvw);

			&-half {
				gap: vw(20px, $mvw);
			}
		}
	}
}
