@import '../../shared/styles/lib';

.ourReviews {
	background-color: #ffffff;

	&__title {
		display: inline-block;
		color: $grey;
		text-transform: uppercase;
	}

	&__list {
		display: flex;

		&-half {
			display: flex;
			flex-direction: column;
		}
	}

	&__button {
		display: none;
	}
}

@media (min-width: $desktopStart) {
	.ourReviews {
		padding: vw(60px) vw(30px);
		border-radius: vw(34px) vw(34px) 0 0;

		&__list {
			margin-top: vw(30px);
			gap: vw(20px);

			&-half {
				gap: vw(20px);
				flex: 1;

				&:nth-child(2) {
					.review:not(:first-child) {
						margin-top: vw(20px);
					}
				}
			}
		}
	}
}

@media (max-width: $mobileEnd) {
	.ourReviews {
		padding: vw(30px, $mvw) vw(16px, $mvw);
		border-radius: vw(34px, $mvw) vw(34px, $mvw) 0 0;
		position: relative;

		&__list {
			margin-top: vw(20px, $mvw);
			flex-direction: column;

			&-half {
				gap: vw(20px, $mvw);

				&:nth-child(2) {
					transition: height 0.6s cubic-bezier(0.4, 0, 0, 1);
					overflow: hidden;

					& .review {
						margin-top: vw(20px, $mvw);
					}
				}
			}
		}
		&__button {
			width: 100%;
			margin-top: vw(25px, $mvw);
			display: flex;
			justify-content: center;
		}
	}
}
