@import '../../../shared/styles/lib';

.contactsForm {
	width: vw(680px);
	padding: vw(30px);
	border-radius: vw(22px);

	color: $graphit;
	background-color: #ffffff;

	& fieldset {
		padding: 0;
		border: none;
	}

	& legend {
		margin-bottom: vw(16px);
	}

	&__inputGroup {
		display: flex;
		gap: vw(20px);
	}

	&__additional {
		margin-top: vw(30px);
	}

	&__document {
		margin-top: vw(20px);
	}

	&__footer {
		margin-top: vw(40px);

		display: flex;
		align-items: center;
		gap: vw(24px);
	}

	&__privacy {
		width: vw(250px);
		color: $grey;

		a {
			color: $graphit;

			&:hover {
				color: $celestial;
			}
		}
	}
}
