@import '../../../shared/styles/lib';

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	color: $white;
	background-color: $dark;

	&__logoAndMenu,
	&__socialsAndLanguage {
		display: flex;
		align-items: center;
	}

	&__logo {
		height: auto;
	}

	&__desktopNav {
		display: none;
	}

	&__tgLink,
	&__waLink,
	&__emailLink,
	&__changeLang {
		display: flex;
		justify-content: center;
		align-items: center;

		& path {
			fill: $white;
		}

		&:hover path {
			fill: $celestial;
		}
	}

	&__phoneLink {
		&:hover {
			color: $celestial;
		}
	}

	&__changeLang {
		border: none;
		cursor: pointer;
		color: $white;
		background-color: transparent;

		&:hover {
			color: $celestial;
		}
	}

	&__burgerButton {
		display: none;
	}
}

.mobileMenu {
	width: 100%;
	padding-top: vw(20px, $mvw);
	padding-bottom: vw(20px, $mvw);
	border-radius: 0 0 vw(22px, $mvw) vw(22px, $mvw);

	display: none;
	flex-direction: column;
	align-items: center;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 4;

	color: $white;
	background-color: $dark;
	transform: translateY(-100%);
	transition: transform 0.3s cubic-bezier(0.4, 0, 0, 1);

	&__socials {
		display: flex;
		margin-top: vw(10px, $mvw);
	}

	&-opened {
		transform: translateY(vw($header_height + 2px, $mvw));
	}
}

@media (min-width: $desktopStart) {
	.header {
		height: vw($header_height);
		padding: vw(10px) vw(16px) vw(10px) vw(16px);
		border-radius: vw(10px);

		&__logoAndMenu {
			gap: vw(50px);
		}
		&__logo {
			width: vw(85px);
		}
		&__desktopNav {
			display: block;
		}
		&__menu {
			margin-top: vw(2px);
		}
		&__tgLink,
		&__phoneLink,
		&__waLink,
		&__emailLink,
		&__changeLang {
			padding: vw(10px);
		}
		&__tgLink,
		&__waLink,
		&__emailLink {
			width: vw(40px);
			height: vw(40px);
		}
		&__tgLink,
		&__waLink,
		&__emailLink,
		&__changeLang {
			& svg {
				width: vw(20px);
				height: vw(20px);
			}
		}
		&__phoneLink {
			margin-top: 2px;
			margin-right: vw(6px);
		}
		&__tgLink {
			margin-right: vw(-5px);
		}
		&__waLink {
			margin-right: vw(-5px);
		}
		&__emailLink {
			margin-right: vw(15px);
		}
		&__orderCall {
			margin-right: vw(15px);
		}
		&__changeLang {
			gap: vw(6px);
			& span {
				margin-top: vw(2px);
			}
		}
	}
}

@media (max-width: $mobileEnd) {
	.header {
		padding: vw(12px, $mvw) vw(16px, $mvw);
		justify-content: flex-start;

		&__logo {
			width: vw(85px, $mvw);
			margin-right: auto;
		}

		&__socialsAndLanguage {
			margin-left: auto;

			& .header__tgLink,
			& .header__phoneLink,
			& .header__changeLang,
			& .header__waLink,
			& .header__emailLink {
				display: none;
			}
		}

		&__tgLink,
		&__phoneLink,
		&__waLink,
		&__emailLink,
		&__changeLang {
			padding: vw(10px, $mvw);
		}

		&__tgLink,
		&__waLink,
		&__emailLink {
			width: vw(40px, $mvw);
			height: vw(40px, $mvw);
		}

		&__tgLink,
		&__waLink,
		&__emailLink,
		&__changeLang {
			& svg {
				width: vw(20px, $mvw);
				height: vw(20px, $mvw);
			}
		}

		&__burgerButton {
			display: flex;
			margin-left: vw(8px, $mvw);
		}

		&__changeLang {
			gap: vw(6px, $mvw);
			& span {
				margin-top: vw(2px, $mvw);
			}
		}

		&::before,
		&::after {
			content: '';
			width: vw(34px, $mvw);
			height: vw(34px, $mvw);

			position: absolute;
			bottom: vw(-34px, $mvw);

			background-image: url('../../../images/corner.svg');
			background-size: vw(34px, $mvw);
		}

		&::before {
			left: 0;
		}

		&:after {
			right: 0;
			transform: rotate(90deg);
		}
	}

	.mobileMenu {
		display: flex;
	}
}
