@import '../../shared/styles/lib';

.aboutUs {
	&__title {
		& h2 {
			display: flex;
			width: 100%;
			overflow: hidden;
			text-transform: uppercase;
			color: $grey;
		}

		& span {
			animation: aboutUs__title 5s 0s linear infinite;
			transform: translateX(-12%);

			position: relative;
			white-space: nowrap;

			&::after {
				content: '';
				border-radius: 50%;

				position: absolute;
				top: 50%;
				right: 0;
				transform: translateY(-50%);
				background-color: $celestial;
			}
		}
	}

	&__benefits {
		& li:nth-child(1) {
			color: $white;
			background-color: $celestial;
		}
		& li:nth-child(2) {
			color: $graphit;
			background-color: $white;

			& path {
				fill: $graphit;
			}
		}
		& li:nth-child(3) {
			color: $white;
			background-color: $graphit;
		}
	}
}

@keyframes aboutUs__title {
	0% {
		transform: translateX(-12%);
	}
	100% {
		transform: translateX(-112%);
	}
}

@media (min-width: $desktopStart) {
	.aboutUs {
		&__title {
			& span {
				padding-left: vw(48px);
				padding-right: vw(72px);

				&:after {
					width: vw(24px);
					height: vw(24px);
				}
			}
		}
		&__benefits {
			margin-top: vw(64px);

			& li {
				margin-top: vw(-34px);
			}
		}
	}
}

@media (max-width: $mobileEnd) {
	.aboutUs {
		&__title {
			& span {
				padding-left: vw(20px, $mvw);
				padding-right: vw(32px, $mvw);

				&:after {
					width: vw(12px, $mvw);
					height: vw(12px, $mvw);
				}
			}
		}
		&__benefits {
			margin-top: vw(54px, $mvw);

			& li {
				margin-top: vw(-34px, $mvw);
			}
		}
	}
}
