@import '../../../shared/styles/lib';

.footer {
	display: grid;
	color: $grey;
	background-color: $dark;

	&__logo {
		height: auto;
	}

	&__requisites {
		text-transform: uppercase;

		& span {
			display: block;
		}
	}

	& > div:last-of-type {
		display: flex;
	}

	&__socials {
		display: flex;
		align-items: center;
	}

	&__tgLink,
	&__waLink,
	&__emailLink {
		display: flex;
		justify-content: center;
		align-items: center;

		& path {
			fill: $white;
		}

		&:hover path {
			fill: $celestial;
		}
	}

	&__policy a {
		display: block;
		color: $white;

		&:hover {
			color: $celestial;
		}
	}
}

@media (min-width: $desktopStart) {
	.footer {
		padding: vw(30px);
		grid-template-columns: 1fr;
		gap: vw(18px);

		&__logo {
			width: vw(130px);
		}

		&__requisites {
			flex: 1;
		}

		&__copyright {
			align-self: flex-end;
			text-align: center;
			flex: 1;
		}

		& > div:first-of-type {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
		}

		& > div:last-of-type {
			justify-content: space-between;
			align-items: flex-end;
		}

		&__tgLink,
		&__waLink,
		&__emailLink {
			width: vw(40px);
			height: vw(40px);

			& svg {
				width: vw(20px);
				height: vw(20px);
			}
		}

		&__emailLink {
			margin-right: vw(15px);
		}

		&__policy {
			flex: 1;
			display: flex;
			flex-direction: column;
			align-items: flex-end;

			& a {
				margin-right: vw(-10px);
				margin-bottom: vw(-10px);
				padding: vw(10px);
			}
		}
	}
}

@media (max-width: $mobileEnd) {
	.footer {
		padding: vw(64px, $mvw) vw(16px, $mvw) vw(30px, $mvw);
		grid-template-columns: 1fr;

		&__logo {
			width: vw(130px, $mvw);
		}

		&__socials {
			margin-top: vw(20px, $mvw);

			& .secondaryButton {
				order: -1;
			}
		}

		& > div:last-of-type {
			flex-direction: column-reverse;
			align-items: flex-start;
		}

		&__tgLink,
		&__waLink,
		&__emailLink {
			width: vw(32px, $mvw);
			height: vw(32px, $mvw);

			& svg {
				width: vw(20px, $mvw);
				height: vw(20px, $mvw);
			}
		}

		&__tgLink {
			margin-left: vw(10px, $mvw);
		}

		&__copyright {
			margin-top: vw(10px, $mvw);
			order: -1;
		}

		&__policy a {
			margin-top: vw(10px, $mvw);
			margin-left: vw(-10px, $mvw);
			margin-bottom: vw(10px, $mvw);
			padding: vw(10px, $mvw);
		}
	}
}
