@import '../../../shared/styles/lib';

.menu {
	& ul {
		display: flex;
	}
	& li {
		display: flex;
		align-items: center;
	}
	& a:hover {
		color: $celestial;
	}
}

@media (min-width: $desktopStart) {
	.menu a {
		padding: vw(10px);
	}
}

@media (max-width: $mobileEnd) {
	.menu {
		& ul {
			flex-direction: column;
			align-items: center;
		}
		& a {
			padding: vw(10px, $mvw);
		}
	}
}
